<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
  "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Omacast</vendor>
  <action id="com.omacast.guard.prepare">
    <description>Prepare a temporary Wi-Fi Direct casting session</description>
    <message>Prepare Wi-Fi Direct casting for the active desktop session</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/omarchy-cast/omarchy-cast-guard-launch</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">prepare</annotate>
  </action>
  <action id="com.omacast.guard.reclaim">
    <description>Remove inactive Wi-Fi Direct clients left by a failed cast</description>
    <message>Restore inactive Wi-Fi Direct clients that are blocking casting</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/omarchy-cast/omarchy-cast-guard</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">reclaim</annotate>
  </action>
</policyconfig>
